section{
    width:50%;
    height:auto;
    margin:6% auto;
}
.forget{
    background:#fff;
    width:70%;
    margin:0 auto;
    padding:4px;
   height:auto;
    box-shadow:inset 0 5px 5px rgba(0,0,0,.075),0 0 10px #555;
}
header{
    width:100%;
    height:auto;
    background:green;
    color:#fff;
    text-align: center;
    /* padding-bottom: 4px;*/
    padding-top:3px;
    padding-bottom: 8px;
}
.fp{
    padding:8px;
}
.fp label{
    font-size:150px;
}
header .fp  h3{
    font-size:20px;
    font-weight:bold;
}
#username,#password{
    width:100%;
    border-radius:3px;
    border:1px solid #ccc;
    transition:400ms;
    height:32px;
    font-size:16px;
    text-align:left;
}
#login{
    padding:8px;
    border:0px;
    border-radius:3px;
    background:green;
    color:#fff;
    width:40%;
    font-size:16px;
    transition:400ms;
}
.wallpaper{
    width:75%;
    margin:auto;
}
.wallpaper img{
    margin:1% 20%;
    border-radius:60%;
    width:50%;
}
#login:hover{
    opacity:0.8;
    cursor:pointer;
}
.error{
    border: 1px solid red!important;
}
.fp a{
    /*text-decoration:none;*/
   
    font-size:15px;
  padding-left: 40px;
}
.fp a h3{
    border-bottom:1px solid #ccc!important;
    width:85%;
    margin:0 auto;
   /* padding:6px;*/

    padding-bottom: 12px;
    font-size: 15px;
     text-align:center;
}
.fp a:hover{
    color:green;
}
.alert {
    padding: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
}
.sendmail{
    background:#fff;
    width:100;
    margin:0 auto;
    padding:4px;
   height:auto;
    box-shadow:inset 0 5px 5px rgba(0,0,0,.075),0 0 10px #555;
}
header .sm h3{
    font-size:15px;
    /*font-weight:bold;*/
    text-align: left;
    /*padding-bottom: 20px;*/
}
#submit{
    padding:10px;
    padding-top: 10px;
    border:0px;
    border-radius:3px;
    background:green;
    color:#fff;
    width:20%;
    font-size:16px;
    transition:400ms;
    padding-left: 20px
}
.sm{
	padding-top: 20px;
}
#email{
	width:100%;
	border-radius:3px;
    border:1px solid #ccc;
    transition:400ms;
    height:32px;
    font-size:16px;
    text-align:left;
}
