/*@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 0px;
  padding-left: 0px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
     padding-left: 150px;
    
  }
  .row-reg{
    background: #ededed;
  }
  .container h3{
    text-align: center;
  }
  .usercontainer{
     padding-left: 160px;

  }
  .userprofilecontainer{
     padding-left:0px;

  }
  /*.landcontainer{
      padding-left: 150px;
  }*/


  
 


/* Main marketing message and sign up button 
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */

/* Responsive: Portrait tablets and up */


/* Center align the text within the three columns below the carousel */
