 
<html>
<head>
<link href="css/clean-blog.css" rel="stylesheet">
 <link href="css/styles.css" rel="stylesheet">
 </head>
 <body>

 <!--<div ng-include src="'views/banner.html'"></div> --> 
   <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>Farmers Community</small>
                </h1>
                <p>Community farming offers many benefits to farmers who want to practice sustainable agriculture and to communities who want fresh, healthy, locally-produced food. </p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Farming</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class=" img-responsive img-center" src="img/1.jpeg" style="" alt="">
                <h3>Agriculture
                    <small></small>
                </h3>
                <p>Agriculture is the cultivation and breeding of animals, plants and fungi for food, fiber, biofuel, medicinal plants and other products used to sustain and enhance human life.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class=" img-responsive img-center" src="img/2.jpeg" alt="">
                <h3>Farming
                    <small></small>
                </h3>
                <p>The major agricultural products can be broadly grouped into foods, fibers, fuels, and raw materials.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class=" img-responsive img-center" src="img/crop3.jpeg" alt="">
                <h3>Foods
                    <small></small>
                </h3>
                <p>Specific foods include cereals (grains), vegetables, fruits, oils, meats and spices. Fibers include cotton, wool, hemp, silk and flax. Raw materials include lumber and bamboo.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class=" img-responsive img-center" src="img/5.jpeg" alt="">
                <h3>Crops
                    <small></small>
                </h3>
                <p>Over one third of the world's workers are employed in agriculture, second only to the service sector, although the percentages of agricultural workers in developed countries has decreased significantly over the past several centuries.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-responsive img-center" src="img/crop.jpeg" alt="">
                <h3>Biofuels
                    <small></small>
                </h3>
                <p>Other useful materials are also produced by plants, such as resins, dyes, drugs, perfumes, biofuels and ornamental products such as cut flowers and nursery plants. </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-responsive img-center" src="img/crop2.jpeg" alt="">
                <h3>Products
                    <small></small>
                </h3>
                <p> Over one third of the world's workers are employed in agriculture, second only to the service sector, although the percentages of agricultural workers in developed countries has decreased significantly over the past several centuries.</p>
            </div>
        </div>

        <hr>
        </div>
        </body>
        </html>
