<!-- <div class="cropcontainer" ng-init="load()">

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">View All Crop Expenses</h3>
                
            </div>
           <div class="panel-body" >
            <div class="table-responsive">
            <table class="table">
                <thead>
                      
                         <th >Plan Id</th>
                        <th>Voucher No</th>
                         <th>Date</th>
                        <th>Activity</th>
                        <th>Labour</th>
                        <th>Amount</th>
                        <th>Paid To</th>
                        <th>Spender</th>
                        <th>Payment Mode</th>
                        <th>reference</th>

                    </tr>
                </thead><tbody>
<tr ng-repeat="e in expense">
    <td>{{e.planid}}</td>
  <td>{{e.voucher}}</td>
  <td>{{e.date}}</td>
  <td>{{e.activity}}</td>
  <td>{{e.labour}}</td>
  <td>{{e.amount}}</td>
  <td>{{e.paidto}}</td>
  <td>{{e.spender}}</td>
  <td>{{e.paymode}}</td>
  <td>{{e.reference}}</td>
                            </tr>
</table></div>

 -->