<html>
<head>
	<link href="css/orfarming.css" rel="stylesheet">
</head>
<body>
     <div ng-include src="'views/carousel.html'"></div>
    <center>

<img src="img/CroppingPlan.jpg" height="auto" width="auto"/></center>
<br>

<p><b><h3><font color="blue"><center>Crop Planning</center></font></b></h3></p>
<li>A Crop Plan is basically a farmer’s guide to staying on track.</li><li>It’s the number one mechanism used to help ensure maximum returns from every acre.<li> And it’s the most important decision-making tool available to growers.</li><li> Unfortunately, less that 25% of today’s farmers have developed a detailed Crop Plan for their farms.</li><li> Those who do take the time to develop cropping plans average between 15-30% higher yields every year.</li>

<p><b><h3><font color="blue">A complete Cropping Plan involves decisions on:</font></b></h3>

    <li>Crop selection to meet specific needs.</li>
    <li>Setting HIGH performance goals (yield goals).</li>
    <li>Selecting multiple varieties.</li>
    <li>Matching specific fields to specific varieties.</li>
    <li>Matching specific technologies with specific production plans.</li>
    <li>Designing fertility programs to meet variety needs.</li>
    <li>Planning pesticide programs to address current problems. </li>
    <li>The ability to forward contract once the plan is in place.</li>
    <li>The ability to make decisions on commodity marketing.</li>
    <li>nowing your cash flow needs far in advance.</li>

<b><h3><font color="blue">Cropping Plans are unique because:</font></b></h3><li>

    <li>They don’t base decisions on last year’s performance.</li>
    <li>They get the planning done earlier.</li></li>
    <li>They put the farm’s production cycle on the calendar.
    <li>They take the worry out of growing a crop.</li>
<br>
<p>Additionally, Cropping Plans help our growers to avoid planting the wrong variety in the wrong field, planting the same variety in the same field for more than two years in a row and basing next year’s plans on last year’s results.</p>

</body>
</html>