<!DOCTYPE html>
<html>
<head><style type="text/css">
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.cropcontainer{
  width:100%;
  padding-left:50px;
  padding-right:50px;
  font-size:15px; 
}
.btns {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius:7px;
    padding: 9px 15px;
}

</style>

</head>
<div class="cropcontainer" ng-init="load()">

    <hr>
    
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">View Plan</h3>
                
            </div>
           <div class="panel-body" >
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="filters">
                      
                        <th >Crop Name</th>
                        <th>Crop Type</th>
                         <th>Seeding Date</th>
                        <th>Transplant Date</th>
                        <th>Soil Type</th>
                        <th>Weather</th>
                        <th>No_Beds</th>
                        <th>Row Per Bed</th>
                        <th>Row Feet</th>
                        <th>Maturity Days</th>
                        <th>Land Required</th>
                        <th >Seeding Month</th>
                        <th>Location</th>

<th colspan="2"><button  class="btn btn-primary " ng-click="search()" style="background-color: #286090; padding: 10px; width: 50px; color: #FFF; border-radius: 7px; cursor: pointer;" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></th>

                   
                    </tr>
                </thead><tbody>

<div>
  
<tr ng-show="s">
	<td><input class="form-control input-sm" ng-model="f.cropname"></td>
	<td><input  class="form-control input-sm" ng-model="f.croptype"></td>
	<td><input class="form-control input-sm" ng-model="f.seeddate"></td>
	<td><input class="form-control input-sm" ng-model="f.transdate"></td>
	<td><input class="form-control input-sm" ng-model="f.soiltype"></td>
	<td><input class="form-control input-sm" ng-model="f.weather"></td>
	<td><input class="form-control input-sm" ng-model="f.no_beds"></td>
	<td><input class="form-control input-sm" ng-model="f.rowperbed"></td>
	<td><input class="form-control input-sm" ng-model="f.rowfeet"></td>
	<td><input class="form-control input-sm" ng-model="f.maturitydays"></td>
	<td><input class="form-control input-sm" ng-model="f.landrequired"></td>
	<td><input class="form-control input-sm" ng-model="f.seedingmonth"></td>
	<td><input class="form-control input-sm" ng-model="f.locations"></td>
</tr>
</div>
<tr ng-repeat="r in records | filter:f">
	<td>{{r.cropname}}</td>
	<td>{{r.croptype}}</td>
	<td>{{r.seeddate}}</td>
	<td>{{r.transdate}}</td>
	<td>{{r.soiltype}}</td>
	<td>{{r.weather}}</td>

<td>
								<div ng-if="r.no_beds==0">####</div>
								<div ng-if="r.no_beds!=0">{{r.no_beds}}</div>
								</td>
							<td><div ng-if="r.rowperbed==0">####</div>
								<div ng-if="r.rowperbed!=0">{{r.rowperbed}}</div></td>
							<td><div ng-if="r.rowfeet==0">####</div>
								<div ng-if="r.rowfeet!=0">{{r.rowfeet}}</div></td>
							<td>{{r.maturitydays}}</td>
							<td><div ng-if="r.landrequired==0">####</div>
								<div ng-if="r.landrequired!=0">{{r.landrequired}}</div></td>
							
							<td>{{r.seedingmonth}}</td>
							<td>{{r.locations}}</td>
					   <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" ng-click="editgo(r.id)" data-title="Edit" data-toggle="modal" data-target="#edit" style="background-color: #286090; padding: 10px; width: 50px; color: #FFF; border-radius: 7px; cursor: pointer;"> <span class="glyphicon glyphicon-pencil"></span></button></p></td>

              <td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" ng-click="delete(r.id)"  data-toggle="modal" data-target="#delete" style="background-color: rgb(139, 0, 0); padding: 10px; width: 50px; color: #FFF; border-radius: 7px; cursor: pointer;" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
          </td>


</tr>
</table></div>
<div class="form-group col-md-1 col-sm-1">  
       <button class="btn btn-primary" ng-click="gotomyprofile()" style="background-color: #286090; padding: 10px; width: 80px; color: #FFF; border-radius: 7px; cursor: pointer;">Back</button>
    </div>
    <div class="form-group col-md-3 col-sm-3">  
       <button class="btn btn-primary" ng-click="gotomyexpense()" style="background-color: #286090; padding: 10px; width: 200px; color: #FFF; border-radius: 7px; cursor: pointer;" >View My Expenses</button>    
    </div>
</div>
</div>
 <div ng-show="deleteflag">
    <div class="alert alert-success" >
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Crop Plan deleted Successfully</p></div></div>
					
</div>				
	</div></html>