<html>

<!--<div ng-include src="'views/carousel.html'"></div>-->
<div class="panel panel-primary" style="margin:20px;" ng-init="load()">
    <div class="panel-heading">
            <h3 class="panel-title">Edit Crop Expense</h3>
    </div>
<div class="panel-body">
   <form name="addForm">
   <div class="col-md-12 col-sm-12">
     <div class="form-group col-md-6 col-sm-6">
            <label for="planid">Project Id<span style="color:red">*</span></label>
           
             <input type="text" class="form-control input-sm" name="planid"  ng-model="expense.planid" required disabled/>
            </div>
        
    <div class="form-group col-md-6 col-sm-6">
            <label for="voucher">Voucher<span style="color:red">*</span></label>
           <input type="text" class="form-control input-sm" ng-pattern="/^[0-9]+$/" name="voucher"  required ng-model="expense.voucher"  placeholder=""/>
           <span style="color:red" ng-show="addForm.voucher.$error.pattern">Voucher Should not contain Characters</span>
           
    </div>

    <div class="form-group col-md-6 col-sm-6">
            <label for="date">Date <span style="color:red">*</span></label>

<div class="date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input type="text" class="form-control input-sm datepicker" value=""  readonly name="date" ng-model="expense.date" required placeholder="Pick Date">
                
                    <span class="add-on"><i class="icon-th"></i></span></div>
    </div>

    <div class="form-group col-md-6 col-sm-6">
            <label for="activity">Activity<span style="color:red">*</span></label>
             <input type="text" class="form-control input-sm" name="activity" placeholder="" required ng-model="expense.activity" ng-pattern="/^[a-zA-Z ]+$/"/>
              <span style="color:red" ng-show="addForm.activity.$error.pattern">Activity Should not contain digits</span>
  
    </div>

 <!--   <div class="form-group col-md-6 col-sm-6">
            <label for="soiltype">Type Of Soil <span style="color:red">*</span></label>
             <input type="text" class="form-control input-sm" name="soiltype" placeholder="" required ng-model="plan.soiltype" ng-pattern="/^[a-zA-Z ]+$/"/>
              <span style="color:red" ng-show="addForm.soiltype.$error.pattern">Soil Type Should not contain digits</span>
        </span>
            
    </div>-->
    <div class="form-group col-md-6 col-sm-6">
            <label for="labour">Labour <span style="color:red">*</label>
            <input type="text" ng-pattern="/[0-9]+$/" class="form-control input-sm" name="labour" required placeholder="" ng-model="expense.labour"/>
            <span style="color:red" ng-show="addForm.labour.$error.pattern">Number of Labours Should not contain characters</span>
    </div>
       
    <div class="form-group col-md-6 col-sm-6">
                <label for="amount">Amount <span style="color:red">*</span></label>
                <input type="text" class="form-control input-sm" name="amount" placeholder=""  ng-pattern="/[0-9]+$/" ng-model="expense.amount" required/>
                <span style="color:red" ng-show="addForm.amount.$error.pattern">Amount Should not contain characters</span>
        
    </div>

    <div class="form-group col-md-6 col-sm-6">
            <label for="paidto">Paidto <span style="color:red">*</span></label>
            <input type="text" class="form-control input-sm" name="paidto" placeholder="" ng-pattern="/[a-zA-Z ]+$/" ng-model="expense.paidto" required/>
    <span style="color:red" ng-show="addForm.paidto.$error.pattern">Name Should not contain digits</span>

</div>
    <div class="form-group col-md-6 col-sm-6">
            <label for="spend">Spend By <span style="color:red">*</span></label>
            <input type="text" class="form-control input-sm" name="spend" placeholder="" ng-pattern="/[a-zA-Z ]+$/" ng-model="expense.spender" required/>
    <span style="color:red" ng-show="addForm.spend.$error.pattern">Name Should not contain digits</span>

</div>
    
<div class="form-group col-md-12 col-sm-12">
<div class="form-group col-md-6 col-sm-6">
 <label for="paymentmode">Mode of Payment <span style="color:red">*</span></label>
            <div class="checkrow" ng-checked="radio(expense.paymode)" required>
                <div class="form-group col-md-3 col-sm-3">
    
<div class="radio radio-primary">
            <input type="radio" name="paymentmode" ng-model="expense.paymode" value="Cash" id="Cash" >
           <label for="Cash">Cash</label>
        </div></div>
<div class="form-group col-md-3 col-sm-3">
<div class="radio radio-primary">
            <input type="radio" name="paymentmode" ng-model="expense.paymode" id="Cheque" value="Cheque" >
           <label for="Cheque">Cheque</label>
        </div></div>
<div class="form-group col-md-3 col-sm-3">
<div class="radio radio-primary">
            <input type="radio" name="paymentmode" ng-model="expense.paymode" value="Neft" id="Neft" >
           <label for="Neft">NEFT</label>
        </div></div>
<div class="form-group col-md-3 col-sm-3">
        <div class="radio radio-primary">
            <input type="radio" name="paymentmode" ng-model="expense.paymode" value="Net Banking" id="Net Banking" >
            <label for="Net Banking">Net Banking</label>
        </div></div>
    </div>

</div>
<div class="form-group col-md-3 col-sm-3">
            <label for="reference">Reference <span style="color:red">*</span></label>
<input type="file" id="idfile" required ng-model="expense.reference"/>
 {{expense.reference}}
</div>
 </div>


</div>

<div class="form-group col-md-12 col-sm-12">
    <div class="form-group col-md-6 col-sm-6" ng-show="cheflag">
            <label for="chequeno">Cheque No<span style="color:red">*</span></label>
           
             <input type="text" class="form-control input-sm" name="chequeno" ng-pattern="/^[0-9]+$/" placeholder="" ng-model="expense.chequeno" required/>
             <span style="color:red" ng-show="addForm.chequeno.$error.pattern">Cheque No Should not contain Characters</span>
        
    </div>
        
   <div class="form-group col-md-6 col-sm-6" ng-show="cheflag">
            <label for="bank">Bank<span style="color:red">*</span></label>
           <input type="text" ng-pattern="/^[a-zA-Z ]+$/" class="form-control input-sm" name="bank"  required  placeholder="" ng-model="expense.bank"/>
           <span style="color:red" ng-show="addForm.bank.$error.pattern">Bank Name Should not contain Digits</span>
           
    </div>
</div>

<div class="form-group col-md-12 col-sm-12">
    <div class="form-group col-md-6 col-sm-6" ng-show="neftflag">
            <label for="accno">Account No<span style="color:red">*</span></label>
           
             <input type="text" class="form-control input-sm" name="accno" ng-pattern="/^[0-9]+$/" placeholder="" required ng-model="expense.accno"/>
             <span style="color:red" ng-show="addForm.accno.$error.pattern">Account No Should not contain Characters</span>
        
    </div>
        
   <div class="form-group col-md-6 col-sm-6" ng-show="neftflag">
            <label for="neftbank">Bank<span style="color:red">*</span></label>
           <input type="text" ng-pattern="/^[a-zA-Z ]+$/" class="form-control input-sm" name="neftbank"  required  placeholder="" ng-model="expense.bank"/>
           <span style="color:red" ng-show="addForm.neftbank.$error.pattern">Bank Name Should not contain Digits</span>
           
    </div>
</div>
</div>
<div class="form-group col-md-12 col-sm-12">
        
<div class="form-group col-md-3 col-sm-3">   
       <button class="btn btn-primary btn-block glyphicon glyphicon-edit" ng-click="edit(expense.id)"></button>
    </div>
</div>
<span style="color:red">*</span>This Fields are mandatory
</form>
</div>
</div>



<script type="text/javascript">

$('.form_date').datetimepicker({
       
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0

    });


</script>

