
<!--<a href="" ui-sref="logout">Logout</a>-->

<div class="container">
    <h3 class="col-lg-10 well">Farmers Land Registration </h3>
   
  <div class="col-lg-10 well">
  <div class="row-reg">
        <form>
          <div class="col-sm-12">
            

          <div class="row">
             
             <div class=" col-sm-6 form-group">
                     <label>Land Type</label>
                   
                     <select id="selectbasic" name="selectbasic" class="form-control">
                         <option value="1"></option>
                         <option value="2"></option>
                         <option value="2"></option>
                     </select>
                    </div>
          
          <div class=" col-sm-6 form-group">
                     <label>Square feet</label>
                   
                     <select id="selectbasic" name="selectbasic" class="form-control">
                         <option value="1">1000</option>
                         <option value="2">2000</option>
                         <option value="2">Others</option>
                     </select>
                    </div>
                     </div>
                       

            <div class="form-group">
              <label>Address</label>
              <textarea placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
            </div>  
            
            <div class="row">
              <div class="col-sm-6 form-group">
                <label>State</label>
                <select id="selectbasic" name="selectbasic" class="form-control">
                         <option value="1">Tamilnadu</option>
                         <option value="2">Kerela</option>
                         <option value="2">Others</option>-
                            </select>
            </div>  

              <div class="col-sm-6 form-group">
                <label>District</label>
                <select id="selectbasic" name="selectbasic" class="form-control">
                         <option value="1">Thoothukudi</option>
                         <option value="2">Thirunelveli</option>
                         <option value="2">Others</option>
                             </select>
              </div>  
              </div>

          <div class="row">

              <div class="col-sm-6 form-group">
                <label>Village</label>
                <select id="selectbasic" name="selectbasic" class="form-control">
                         <option value="1">Vilathikulam</option>
                         <option value="2">Kovilpatti</option>
                         <option value="2">Others</option>
                               </select>
              </div>  

              <div class="col-sm-6 form-group">
                <label>Pincode</label>
                <input type="text" placeholder="Pincode" class="form-control">
              </div>  
          </div>

                                              

             
          <br>

          <!--<button type="button" class="btn btn-lg btn-info">Submit</button>-->
           <div class="other">
            <input type="submit" id="LoginButton" class="button" value="Submit" style="background-color: #009245; padding: 10px; width: 180px; color: #FFF; border: none; cursor: pointer;" />
               </div>         
          </div>
        </form> 
        </div>
  </div>
  </div>