
   <section>
      <div class="contenedor">
        <header>
          <div class="ti">
            <h3>Farmers Login</h3>
          </div>
        </header><br>
        <form  ng-submit="login(newregister)">
          <div class="wallpaper">
            <img src="img/avatar.png" alt="imagen-usuario" title="Usuario"/>
          </div>
          <div class="ti">
            <label>Username</label><br>
            <input type="text" name="username" id="username" class="fail" ng-model="newregister.username" placeholder="Username"/>
          </div>
          <div class="ti">
            <label>Password</label><br>
            <input type="password" name="password" id="password" class="fail" ng-model="newregister.password" placeholder="Password" />
          </div>
          <div ng-if="(statusCode == 400)" class="alert alert-danger text-center ">{{statusMessage}}</div>
          <div ng-if="(statusCode == 200)" class="alert alert-success text-center">{{statusMessage}}</div>
          <div class="ti">
            <input type="submit" name="login" id="login" value="Login"  />
            <a href="" ui-sref="cropplantab" ><b>Forgot password?</b></a>
          </div>
        </form>
      </div>
      <div class="ti">
        <a href="" ui-sref="reg" ><h3>CreateNewAccount</h3></a>
      </div>
  </section>  
 