<html>
<head>
	
</head>
<body>
	 <div ng-include src="'views/carousel.html'"></div>
	 <center>

<img src="img/organicagri.jpg" height="auto" width="auto"/></center>
<br>
<p><b><h3><font color="blue"><center>Organic farming</center></font></b></h3><li>It promotes the use of crop rotations and cover crops, and encourages balanced host/predator relationships.</li> <li>Organic residues and nutrients produced on the farm are recycled back to the soil.</li><li> Cover crops and composted manure are used to maintain soil organic matter and fertility.</li></p>

<p><b><h2><font color="blue">Benefits</font></b></h3>
<p><b><h3><font color="blue">Sustainability over the long term:</font></b></h3><li>Many changes observed in the environment are long term, occurring slowly over time.</li><li> Organic agriculture considers the medium- and long-term effect of agricultural interventions on the agro-ecosystem.</li><li> It aims to produce food while establishing an ecological balance to prevent soil fertility or pest problems.</li><li> Organic agriculture takes a proactive approach as opposed to treating problems after they emerge.</li></p>


<p><b><h3><font color="blue">Soil:</font></b></h3><li> Soil building practices such as crop rotations, inter-cropping, symbiotic associations, cover crops, organic fertilizers and minimum tillage are central to organic practices.</li><li> These encourage soil fauna and flora, improving soil formation and structure and creating more stable systems.</li> <li>In turn, nutrient and energy cycling is increased and the retentive abilities of the soil for nutrients and water are enhanced, compensating for the non-use of mineral fertilizers.</li><li> Such management techniques also play an important role in soil erosion control.</li></p>
<p><b><h3><font color="blue">Water:</font></b></h3><li> In many agriculture areas, pollution of groundwater courses with synthetic fertilizers and pesticides is a major problem.</li><li> As the use of these is prohibited in organic agriculture, they are replaced by organic fertilizers (e.g. compost, animal manure, green manure)</li><li>Through the use of greater biodiversity enhancing soil structure and water infiltration.</li><li> Well managed organic systems with better nutrient retentive abilities, greatly reduce the risk of groundwater pollution.</li></p>

<p><b><h3><font color="blue">Air and climate change:</font></b></h3><li> Organic agriculture reduces non-renewable energy use by decreasing agrochemical needs (these require high quantities of fossil fuel to be produced). </li><li>Organic agriculture contributes to mitigating the greenhouse effect and global warming through its ability to sequester carbon in the soil.</li><li> Many management practices used by organic agriculture increase the return of carbon to the soil, raising productivity and favouring carbon storage. </li><li>Soil organic carbon contents under organic farming are considerably higher.</li><li> The more organic carbon is retained in the soil, the more the mitigation potential of agriculture against climate change is higher.</li></p>. 


<p><b><h3><font color="blue">Ecological services:</font></b></h3><li> The impact of organic agriculture on natural resources favours interactions within the agro-ecosystem that are vital for both agricultural production and nature conservation.</li><li> Ecological services derived include soil forming and conditioning, soil stabilization, waste recycling, carbon sequestration, nutrients cycling, predation, pollination and habitats.</li><li> By opting for organic products, the consumer through his/her purchasing power promotes a less polluting agricultural system.</li><li> The hidden costs of agriculture to the environment in terms of natural resource degradation are reduced.</li>

</body>

</html>