 <div ng-include src="'views/carousel.html'"></div><html>
<head>
	<link href="css/orfarming.css" rel="stylesheet">
</head>
<body> <div ng-include src="'views/carousel.html'"></div><center>

<img src="img/plantstand.jpg" height="auto" width="auto"/></center>
<br>
 <b><h3><font color="blue">Plant Stand Management</font></b></h3>

<p><t>The more healthy corn plants you have in the row, the higher your final yield will be… given that each of those plants produces a full-size ear. That’s why one of the primary goals of our MPS growers is to monitor their Net Effective Plant Stand (NEPS).</p>

<p>NEPS tells farmers what percent of the plants in a field will have full ears. Unless every plant is producing a full ear of corn, maximum yields at that population cannot be achieved. Most farmers' NEPS readings are at 50-75% or less – proving they are only producing about half of the real potential for that crop.
How do you improve your NEPS?</p>

<p>There are two factors that have a great effect on Net Effective Plant Stand: seed quality and seed placement. Growers must make sure they are planting the highest quality, purest seed they can buy. That kind of hybrid seed does not come cheap, but it is worth every penny and more. You simply cannot have high NEPS readings without exceptional quality seed.</p>

<p>Growers also need to make sure they don’t rush through their planting process so every seed can be placed at the same depth and same distance apart. We recommend placing your focus on whether or not all plants come out of the ground at the same time, rather than how fast your crop emerges. Following proper placement techniques will help every seed emerge the same day and put you on track for achieving top yields.</p>
 