<!--<html>
<style>
#circle
{
border-radius:50% 50% 50% 50%;  
width:75px;
height:75px;
}
#smallcircle
{
border-radius:50% 50% 50% 50%;  
width:50px;
height:50px;
}
</style>
 <script language="javascript">
 n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
 </script>
 <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <!--<div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Things You Need to Know About Farmland<br>
                    <small>by SamuVel Johnson                <img  src="img/farmer1.jpeg" height="300px" width="900px"alt="" id="circle">
                    </small>
                </h3>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">

               

  Posted on

                <p class="lead">
<li>1.Land prices are down, but they're not crashing.

</li><br><p>slight firming of commodity prices – or at least the failure to continue downward – has added a bit of strength. It is hard to find a scenario for an acceleration in decline. </p>
<li>Most farmers are not selling land.

</li><br><p>A few farmers have mortgaged parts of their balance sheet to make it through a decline in working capital, says Sherrick. “But I don’t see any broad, major structural changes. There are stories of people who sold an 80 because they had 4,000 acres rented and needed to manage cash flow, but there is not a large influx of land to market for this reason.”</p>
                </p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
            <!--    <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>
<p id="date">  </p>
                <!-- Posted Comments -->

                <!-- Comment -->
                <!--<div class="media">
                   
                                         <h4 class="media-heading"><img  src="img/farmer1.jpeg" alt="" id="smallcircle">Hardy Williams
                            <small><p id="date"> </p></small>
                        </h4>
                    <div class="media-body">
                       
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <!--<div class="media">
                    
                                        
                    <div class="media-body">
                        <h4 class="media-heading"><img  src="img/farmer1.jpeg" height="300px" width="900px"alt="" id="smallcircle">Thomas Albert
                            <small><p id="date"></p></small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                    <!--    <div class="media">
                    
                                                
                           
                            <div class="media-body">
                                <h4 class="media-heading"><img  src="img/farmer1.jpeg" height="300px" width="900px"alt="" id="smallcircle">Nicolas Worth
                                    <small><p id="date"></p></small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    <!--</div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            
        <!--</div>
        <!-- /.row -->

        <!--<hr>

        <!-- Footer -->
        

    <!--</div>-->


 <div ng-include src="'views/carousel.html'"></div>




<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-comments"
   data-width="auto" data-include-parent="true" data-numposts="5"></div>