 
<div class="container" ng-init="init()">
    <h3 class="col-lg-10 well">Farmers Registration</h3>
    
	 <div class="col-lg-10 well"> 

	   <!-- <div class="row-reg"> -->
				 <form  name="regform" ng-submit="addregister(newregister)">
					<!-- <div class="col-sm-12"> -->
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>FirstName<span style="color:red">*</span></label>
							 <input type="text" placeholder="Enter First Name Here.." class="form-control" name="firstname" ng-pattern="/^[a-zA-Z ]*$/" ng-model="newregister.firstname" required>
							 <span class="help-inline" ng-show="submitted && regform.firstname.$error.required">Required</span>
							  <span class="help-inline" ng-show="submitted && regform.firstname.$error.pattern">Nameshould not contain digits</span>
							
							  <br>

								<label>LastName<span style="color:red">*</span></label>
								<input type="text" placeholder="Enter Last Name Here.." class="form-control" name="lastname"  ng-pattern="/^[a-zA-Z ]*$/" ng-model="newregister.lastname" required>

								<span class="help-inline" ng-show="submitted && regform.lastname.$error.required">Required</span>
								<span class="help-inline" ng-show="submitted && regform.lastname.$error.pattern">Nameshould not contain digits</span>
								<br>

								<label>Father's Name<span style="color:red">*</span></label>
								<input type="text" placeholder="Enter Father's Name Here.." class="form-control" name="fathername"  ng-pattern="/^[a-zA-Z ]*$/" ng-model="newregister.fathername" required>
								<span class="help-inline" ng-show="submitted && regform.fathername.$error.required">Required</span>
                                <span class="help-inline" ng-show="submitted && regform.fathername.$error.pattern">Nameshould not contain digits</span>
							</div>

			    	<div class="col-sm-6 form-group">

			    	
				    <!--<input type="file" ngf-select ng-model="newregister.files" class="filestyle" name="filename" >	 -->		  
                       <div class="main-img-preview">
                        <img class="thumbnail img-preview" src="img/avatar.png" title="Profile Picture">
                       </div>
                       <div class="fileUpload btn btn-danger fake-shadow">
                        <span><i class="glyphicon glyphicon-upload"></i>Upload Image</span>
                        <input id="logo-id" name="img" type="file" class="attachment_upload" ngf-select ng-model="newregister.img" ngf-pattern="'image/*'"
					           accept=".jpg,.jpeg,.png"
					           ngf-max-size="20MB" > 
                       
                        <!-- <input type="file" ngf-select ng-model="newregister.files" class="filestyle" name="filename" > -->
                     </div>
                       
    			   </div>
		              
                       	</div>

						
    <div class="row"> 
		    <div class="col-sm-6 form-group">
            <label for="DOB">Date of Birth<span style="color:red">*</span></label>
            <div class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <!-- <input size="16" type="text" value="" readonly> -->
                    <input type="text" ng-change="calculateAge(newregister.dob)"  class="form-control input-sm " id="dob" placeholder="DD/MM/YY" name="dob"  ng-model="newregister.dob"  required>

                    <span class="help-inline" ng-show="submitted && regform.dob.$error.required">Required</span>
                            
                    <span class="add-on"><i class="icon-remove"></i></span>
					<span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
         <div class="col-sm-6 form-group">
            <label for="age">Age</label>
           <input type="text" readonly ng-disabled="!newregister.dob" class="form-control" id="age" name="age" ng-model="newregister.age" ng-pattern="/^1[8-9]$|^1[0][0]$|^2[0-9]$|^3[0-9]$|^4[0-9]$|^5[0-9]$|^6[0-9]$|^7[0-9]$|^8[0-9]$|^9[0-9]$/" required>
           <span class="help-inline" ng-show="submitted && regform.age.$error.required">Required</span>
           <span class="help-inline" ng-show="regform.age.$error.pattern">Age should be 18 t0 100</span>
          <!--  <span class="help-inline" ng-show="regform.age.$error.maxlength">Maximun age 100</span>
          -->
         
         
        </div>
    </div>
                    

	<div class="form-group">
			<label>Address<span style="color:red">*</span></label>
			<textarea placeholder="Enter Address Here.." rows="3" class="form-control" name="address" ng-minlength="14" ng-model="newregister.address" required></textarea>
			<span class="help-inline" ng-show="submitted && regform.address.$error.required">Required</span>
			<span class="help-inline" ng-show="regform.address.$error.minlength">
			Enter valid Address</span>
	</div>	
		

	<div class="row">
				<div class="col-sm-6 form-group">
						<label>State<span style="color:red">*</span></label>
									
						 <select id="state" ng-change="getdistrict(newregister.state)" ng-model="newregister.state"  class="form-control"  ng-options="item.state_id as item.state_name for item in states"  required>
							
						 <option value="">Select State</option>					
                      
                         </select>
                         
				</div>	

				<div class="col-sm-6 form-group">
				 		<label>District<span style="color:red">*</span></label>
								
								
						<select id="district" ng-disabled="!newregister.state" ng-change="getvillage(newregister.district)" ng-model="newregister.district" ng-options="item.district_id as item.district_name for item in districts" class="form-control" required>
						<option value="">Select District</option>	
                        
                        </select>
				</div>	
	</div>

	<div class="row">

	    	<div class="col-sm-6 form-group">
						<label>Village<span style="color:red">*</span></label>
																
					    <select id="village"  ng-disabled="!newregister.district || !newregister.state" ng-model="newregister.village" class="form-control" ng-options="item.village_id as item.village_name for item in villages" required>
                        <option value=''>Select Village</option> 
                        </select>
			</div>	

			<div class="col-sm-6 form-group">
						<label>Pincode<span style="color:red">*</span></label>
						<input type="text" placeholder="Pincode" class="form-control" name="pincode"  ng-model="newregister.pincode" ng-minlength="6" ng-maxlength="6" ng-pattern="/^\d{6}(\.\d{6})?$/"  required>
						<span class="help-inline" ng-show="submitted && regform.pincode.$error.required">Required</span>
                        <span class="help-inline" ng-show="submitted && regform.pincode.$error.pattern">Pincode contain only 6 digits</span>
				                           
 			</div>	
	</div>


            <div class="form-group">
						<label>Phone Number<span style="color:red">*</span></label>
						<input type="text" placeholder="Enter Phone Number Here.." class="form-control" name="phoneno" ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" ng-minlength="10" ng-maxlength="10"  ng-model="newregister.phoneno" required>

						<span class="help-inline" ng-show="submitted && regform.phoneno.$error.required">Required</span>

						<span class="help-inline" ng-show="submitted && regform.phoneno.$error.pattern">PhoneNumber contain only 10 digits</span>
                    
                       
			</div>	

			<div class="form-group">
						<label>EmailAddress<span style="color:red">*</span></label>
						<input type="email" placeholder="Enter EmailAddress Here.." class="form-control" name="email"  ng-model="newregister.email" required>

						<span class="help-inline" ng-show="submitted && regform.email.$error.required">Required</span>
			</div>
			<div class="alert alert-warning" ng-show="alertemail">
		    Email<strong>Already Exist</strong>
		    </div>	

			<div class="row">
					  <div class="col-sm-6 form-group">
						 <label>MaritalStatus<span style="color:red">*</span></label><br>
						 <input  ng-model="newregister.maritalstatus" id='watch-me' name='test' value="single" type='radio' checked required >Single
                           <input  ng-model="newregister.maritalstatus" id='see-me' name='test' value="married" type='radio' required >Married
					  </div>	
					
					  <div class=" col-sm-6 form-group">
                           <label>Gender<span style="color:red">*</span></label>
                          <select id="selectbasic" name="selectbasic" class="form-control" ng-model="newregister.gender" required>
                          <option value="">Select Gender</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="others">Others</option>                         
                          </select>
                      </div>
            </div>


			<div class="row">
				<div class="col-sm-6 form-group">
						<label>Pancard Number</label>
						<input type="text" placeholder="PancardNo" class="form-control" name="bankaccno"  ng-model="newregister.bankaccno" ng-pattern="/^\(?(\d{4})\)?[ .-]?(\d{4})[ .-]?(\d{2})$/" ng-maxlength="10" ng-minlength="10">

						<span class="help-inline" ng-show="submitted && regform.bankaccno.$error.pattern">PancardNumber contain only 10 digits</span>
								
				</div>		
				<div class="col-sm-6 form-group">
						<label>AadhaarCard Number</label>
						<input type="text" placeholder="AadhaarCard Number" class="form-control" name="aadhaarno" ng-pattern="/^\(?(\d{4})\)?[ .-]?(\d{4})[ .-]?(\d{4})$/" ng-minlength="12" ng-maxlength="12"  ng-model="newregister.aadhaarno">
                        <span class="help-inline" ng-show="submitted && regform.aadhaarno.$error.pattern">AadhaarNumber contain only 12 digits</span>

				</div>	
			</div>

                        

						 <div class="row">
							<div class="col-sm-6 form-group">
								<label>Choose Your Username<span style="color:red">*</span></label>
								<input type="text" placeholder="UserName" class="form-control" name="username"  ng-model="newregister.username" ng-minlength="12" ng-maxlength="16"  required>

								<span class="help-inline" ng-show="submitted && regform.username.$error.required">Required</span>

								<span class="help-inline" ng-show="regform.username.$error.maxlength">
								Maximum 16 characters</span>
								<span class="help-inline" ng-show="regform.username.$error.minlength">
								 Minimum 12 characters</span>
							</div>
							
						</div>
						 <div class="alert alert-warning" ng-show="alertuser">
					    Username<strong>Already Exist</strong>
					    </div>	
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Create Password<span style="color:red">*</span></label>
								<input type="password" placeholder="Password" class="form-control" name="password"  ng-model="newregister.password"   ng-minlength="8" ng-maxlength="12" required>

								<span class="help-inline" ng-show="submitted && regform.password.$error.required">Required</span>
								<span class="help-inline" ng-show="regform.password.$error.maxlength">
								 Maximum 12 characters</span>
								<span class="help-inline" ng-show="regform.password.$error.minlength">
								 Minimum 8 characters</span>
							</div>
							<div class="col-sm-6 form-group">
								<label>Confirm Password<span style="color:red">*</span></label>
								<input type="password" data-match="newregister.password" placeholder="ConfirmPassword" class="form-control" name="confirmpassword"  ng-model="newregister.confirmpassword" required>
								<span class="help-inline" ng-show="submitted && regform.confirmpassword.$error.required">Required</span>
								<span class="help-inline" data-ng-show=" regform.confirmpassword.$error.match">Retype the Password</span>
							</div>
						</div>	
       					<br>

					
			<div class="other">
              <input type="submit" id="LoginButton" class="button" value="Submit" ng-click="submitted=true" style="background-color: #009245; padding: 10px; width: 180px; color: #FFF; border: none; cursor: pointer;" />

              <input type="submit" id="ResetButton" class="button" value="Reset" ng-click="reset()" style="background-color: #8B0000; padding: 10px; width: 180px; color: #FFF; border: none; cursor: pointer;" />
            </div>	 <br>   
            <div class="alert alert-warning" ng-show="alert">
		    Username and Email<strong> Already Exist</strong>
		    </div>
     
      <div class="alert alert-success" ng-show="alertsuccess">
    <strong>Registered Successfully</strong>
    </div>
	</form> 
				
	</div>
	</div>




<script type="text/javascript">          
         
	$('.form_date').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	
    $(document).ready(function() {
    var brand = document.getElementById('logo-id');
    brand.className = 'attachment_upload';
    brand.onchange = function() {
        document.getElementById('fakeUploadLogo').value = this.value.substring(12);
    };

    // Source: http://stackoverflow.com/a/4459419/6396981
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                $('.img-preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#logo-id").change(function() {
        readURL(this);
    });
    });
</script>


<!-- </body>
</html> -->

 






<!--<div class="container">
	<div class="login">
		<h4>Register </h4>
			
        		<form name="regForm" class="" ng-submit="addRegister()" >
        		    <input type="Name" pattern=".{6,15}"   title="Minimum 6 Maximum 15" class="form-control name" name="name"  placeholder="Enter Name" required ng-model="newRegister.name"/><br>

    				<input type="email" class="form-control email" name="email"  placeholder="Enter email" required ng-model="newRegister.email"/><br>

    				<input type="password"  pattern=".{6,10}"   title="Minimum 6 Maximum 10" class="form-control password" name="password"  placeholder="Password" required  ng-model="newRegister.password"/>
    				<!--<span style="color:blue" ng-show="regForm.password.$error.minlength">Minimum of 6 character</span>-->

                  <!--  <br>
					
					<button class="btn btn-block btn-lg btn-success submit" type="submit" >Register</button>
				</form>
			
			
	</div>
</div>
