<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">


    
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


  </head>
  <body>
     
    <div class="container">
      <div class="row main">
        <div class="main-login main-center">
          <form name="registerForm"class="" method="post" ng-submit="addRegister()">
            
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" pattern=".{3,15}" class="form-control" name="name" placeholder="Enter your Name" required ng-model="newRegister.name" title="Minimum 3 Maximum 15 characters"/>

                </div>
              </div>
            </div>

           

            <div class="form-group">
              <label for="uname" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" pattern=".{5,15}" class="form-control" name="uname"  placeholder="Enter your Username" required ng-model="newRegister.username"  title="Minimum 5 Maximum 15 characters"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="pswd" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" pattern=".{5,15}" class="form-control" name="pswd" placeholder="Enter your Password" required ng-model="newRegister.password"title="Minimum 3 Maximum 15 characters"/>
                </div>
              </div>
            </div>

           <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Retype Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" pattern=".{5,15}" class="form-control" name="confirm"  placeholder="Retype Your Password" required ng-model="newRegister.cfm"title="Minimum 3 Maximum 15 characters"/>
                </div>
              </div>
            </div>


 <div class="form-group">
              <label for="phno" class="cols-sm-2 control-label">Phone Number</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="text"  pattern=".{10,10}" title="Enter 10 Digits Only" class="form-control" name="phno" maxlength="10"placeholder="Enter Your Phone Number" required ng-model="newRegister.phno"/>
                
                </div>
              </div>
            </div>


            <div class="form-group ">
              <button class=" btn btn-primary btn-lg btn-block login-button" type="submit">Register</button>
            </div>
          
          </form>
        </div>
      </div>
    </div>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   </body></html>