     

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 col-md-14 col-md-offset-4">
              <!-- <div ng-include src="'views/banner.html'"></div>   -->
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                           The Farmers Community
                        </h2>
                       <p> <h4 class="post-subtitle">
                            If you want to farm, are concerned about farmland disappearing, and want to help build healthy, local food systems, you know there are some real challenges facing farmers and communities.
                        </h4></p>
                    </a>
                    <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">  The Community Farms Program </h2>
                      <p><h4  class="post-subtitle">
                          The Community Farms Program brings landowners, farmers, and local communities together to form  community farms. We provide information and resources for community farm stakeholders through a web page, a network, roundtable and other meetings, and personal contact, and help farmers access affordable farmland.
                        </h4></p>
                    </a>
                   <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>-->
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            Environmental Solutions
                        </h2>
                     <p>   <h4 class="post-subtitle">
                           Agriculture and farming practices can both harm and protect environmental systems and processes. Groups that farm cooperatively feel a strong sense of stewardship and responsibility to the land, but farmers do face barriers when they choose to farm sustainably. By basing their agricultural activities on sustainable practices, community farms balance environmental sustainability with retention and protection of valuable and threatened farmland. 
                        </h4></p>
                    </a>
                   <!-- <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>-->
                </div>
                <hr>
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                             Market Stability

                        </h2>
                    <p>    <h4 class="post-subtitle">
                           
When a community invests in a farm, its long term viability and security as a food production (and social) system are supported. Farmers benefit from market and price stability when communities support their farmers through community shared agriculture programs, farmers markets, and local distribution networks.

                        </h4></p>
                    </a>
                   <!--   <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>-->
                </div>
                <hr>
                <!-- Pager -->
                <!--<ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>

    <hr>

   

