<html>
<head>
	<link href="css/orfarming.css" rel="stylesheet">
</head>
<body> <div ng-include src="'views/carousel.html'"></div><center>

<img src="img/seedtest.jpg" height="auto" width="auto"/></center>
<br>
<p><b><h3><font color="blue"><center>Seed Tests</center></font></b></h3>

Seed testing is determining the standards of a seed lot viz., physical purity, moisture, germination and ODV and thereby enabling the farming community to get quality seeds.</p>

<p>The Seed Testing Laboratory is the hub of seed quality control. Seed testing services are required from time to time to gain information regarding planting value of seed lots. Seed testing is possible for all those who produce, sell and use seeds.</p>

<img src="img/seed1.jpg" height="auto" width="auto"/>
<p><b><h3><font color="blue">Objectives of Seed Testing</font></b></h3>

 <h4><b>Seed testing is required to achieve the following objectives for minimising the risks of planting low quality seeds.</h4></b>

    <li>To identify the quality problem and their probable cause</li>
    <li>To determine their quality, that is, their suitability for planting</li>
    <li>To determine the need for drying and processing and specific procedures that should be used</li>
    <li>To determine if seed meets established quality standards or labelling specifications.</li>
    <li>To establish quality and provide a basis for price and consumer discrimination among lots in the market.</li>
    	<li> The primary aim of the seed testing is to obtain accurate and reproducible results regarding the quality status of the seed samples submitted to the Seed Testing Laboratories.</li>


<br><h4><b><i> Achieving exceptional seed quality can be assured by using the following tests: </i></b></h4>
<font color="green"><b>
 <li>   Tough Tray Cold Test</li>
 <li>   Saturated Cold Test</li>
    <li>Tetrazolum Test</li></font></b>



<p><b><h2><font color="green">Cold Test</font></b></h3>

<b><h4><font color="blue">When this test Should be used?</font></b></h4>
The Cold test is a stress test which simulates the cold, wet conditions 
of planting season and is an indicator of seed vigor.
High Vigor: strong seed will germinate, emerge and grow well.
Low Vigor: weaker seed will not germinate or will have a slower germination and growth in response to the stress. This test is used for corn and soybeans.</p>

<p><b><h4><font color="blue">What Technique is Used?</font></b></h4> 
Shoebox Method: 1" of vermiculite is placed above and below seed layer (corn test also adds 3 oz. layer of field soil to the seed layer), water is added to each box to 75% saturation, then covered with lid. One test = 2 boxes of 100 seeds/box.  The boxes are stored in the cold room at 10ºC (50ºF) for 7 days. Test is then moved to warm germinator at 23ºC (73ºF) for 5 days. Seedlings are evaluated on day 12.</p>

<p><b><h4><font color="blue">What Do the Results Mean?</font></b></h4>  
Results are reported as a percentage, which represents the number of seedlings categorized as "normal" out of the 200 seed test. Technicians record the number of normal, abnormal and dead seedlings.</p>

<p>A good cold test score is 85% or higher. A seed lot that scores less than 85% is considered marginal. Cold test scores are used to evaluate the seed lot, the lower the score, the less vigorous the seed.</p>


<p><b><h2><font color="green">Saturated Cold</font></b></h3>
<b><h4><font color="blue">When this Test should be used?</font></b></h4>
<p>The Saturated Cold test is used to further separate the quality levels of seed lots - particularly questionable lots. The saturated cold test is potentially more stressful than the shoebox cold test. This test is conducted on corn and soybeans.</p>

<p><b><h4><font color="blue">What Technique is Used?</font></b></h4> 
<p>A ¼" of soil is layered on top of two germ towels wrapped around a plastic grid and laid in a a tray - to which, 500 mL of water is added, keeping the soil at 100% saturation. Two hundred seeds are split between 2 trays, planted with the embryo facing down - careful not to push the seed too far into the soil. The trays are kept in a cold room for 7 days at 10ºC (50ºF) and then in the warm germinator for 4 days at 23ºC (73ºF).</p>

<p><b><h4><font color="blue">What Do the Results Mean?</font></b></h4>
<p>Results are reported as a percentage, which represent the number of seedlings categorized as "normal" out of the 200 seed test. During analysis, technicians record the number of normal, abnormal and dead seedlings.  Saturated cold test results generally are lower than the shoebox cold test result.</p>

<p><b><h2><font color="green">Tetrazolium</font></b></h3>
<b><h4><font color="blue">When this Test should be used?</font></b></h4>
<p>ICIA offers a 24 hour TZ (Tetrazolium) test which provides an estimate of seed viability in a short amount of time. The TZ test identifies problems associated with damage due to mechanical, insect, freeze, heat, seed coat checking, disease, immaturity and sprouting. Although this test is most commonly conducted on soybeans, sorghum, wheat, barley, corn and oats; it can be performed on any species.</p>

<p><b><h4><font color="blue">What Technique is Used?</font></b></h4> 
<p>Seeds are pre-conditioned overnight by soaking in water or on a damp germination towel. 100 seeds are placed in a small container and soaked in a staining solution and then each container is placed in a germinator at 35ºC (95ºF) for the appropriate staining period. Each seed is bisected through the embryo using a razor blade to allow the TZ chemical to stain the embryo.</p>

<p><b><h4><font color="blue">What Do the Results Mean?</font></b></h4> 
<p>A TZ test can determine cause and percentage of damage and the TZ score is most often very close to the warm germination test result. Potential germ is reported as a % based on normal seeds found. </p>