<center><img src="img/blog.jpeg" height="auto" width="auto"/></center>

 <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <p class="lead">
                    by Machinery Insider
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                
                    <img  src="img/farmer1.jpeg" alt="" height="300px" width="700px">
                
                <hr>
                <p>Check the actual operating depth of tillage equipment by digging into the field in several locations across the entire width of an implement.</p>
                <hr>
                <p class="lead">
                    by John Smith
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
                <hr>
               
                    <img  src="img/farmer2.jpeg" alt="" height="300px" width="700px">
        
                <hr>
                <p>Traits can be worth the money, but profitability depends upon pest pressure and other factors.</p>
                

                <hr>
                <p class="lead">
                    by Nicholas
                </p>
                <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:45 PM</p>
                <hr>
                
                    <img src="img/farmer3.jpeg" alt="" height="300px" width="700px">
                
                <hr>
                <p>Farmers need to get a fast start to their season while still ensuring that their crops have the greatest potential for success from the moment they are planted.</p>
                
                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>
            </div>

        </div>
