<!DOCTYPE html>
<html>
<head><style type="text/css">




.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

</style>

</head>

 <div ng-include src="'views/carousel.html'"></div>
<div class="panel panel-primary">
    <div class="panel-heading">
    <h3 class="panel-title">View All Expenses</h3>
    <div class="pull-right">
    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
    <i class="glyphicon glyphicon-filter"></i>
    </span>
    </div>
    </div>
    <div class="panel-body">
    <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#view-table"/>
    </div>
                    <table class="table table-hover" id="view-table">
                        <thead>
                            <tr>
                                <th>Seeding</th>
                                <th>Fertilizing</th>
                                <th>Pesticides </th>
                                <th>Soil Testing</th>
                                <th>Machinery</th>
                                <th>Labour Cost</th>
                                <th>Watering</th>
                                <th>Plant Protection</th>
                                <th>After Harvesting</th>
                                <th>Storage Cost</th>
                                <th>Other Expenses</th>
                                <th>Payment Mode</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
<button class="btn btn-primary" ng-click="editgo(r.id)">Edit</button></td><td>
                            
                            </div>
                            <button class="btn btn-primary" ng-click="delete(r.id)">Delete</button>
</div>              
    </div></div></div>



    <p  align="right">
<button type="button" class="btn btn-info btn-circle btn-xl" ng-click="gotoadd()">+</button></p>

</html>
